aws_region    = "ap-southeast-1"
aws_profile   = "pywallet-dev"

project       = "pywallet"
environment   = "stage"
owner         = "alex"

key_name      = "pywallet-dev-key"
instance_type = "t3.micro"

my_ip_cidr    = "203.0.113.10/32"