aws_region    = "ap-southeast-1"
aws_profile   = "pywallet-dev"

project       = "pywallet"
environment   = "dev"
owner         = "owner"

key_name      = "pywallet-dev-key"
instance_type = "t3.micro"

# Replace with public IPv4 in /32 format
my_ip_cidr    = "203.0.113.10/32"